/*Alerts*/
.alert {border-radius: 0;-webkit-border-radius: 0;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);}
.alert .sign {font-size: 20px;vertical-align: middle;margin-right: 5px;text-align: center;width: 25px;display: inline-block;}
.alert-success {background-color: #DBF6D3;border-color: #AED4A5;color: #569745;}
.alert-info {background-color: #D9EDF7;border-color: #98cce6;color: #3A87AD;}
.alert-warning {background-color: #FCF8E3;border-color: #F1DAAB;color: #C09853;}
.alert-danger {background-color: #F2DEDE;border-color: #e0b1b8;color: #B94A48;}
.alert-white {background-image: linear-gradient(to bottom, #ffffff, #f9f9f9);border-top-color: #d8d8d8;border-bottom-color: #bdbdbd;border-left-color: #cacaca;border-right-color: #cacaca;color: #404040;adding-left: 61px;position: relative;}
.alert-white .icon {text-align: center;width: 45px;height: 103%;position: absolute;top: -1px;left: -1px;border: 1px solid #BDBDBD;padding-top: 15px;}
.alert-white .icon:after {-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);display: block;content: '';width: 10px;height: 10px;border: 1px solid #BDBDBD;position: absolute;border-left: 0;border-bottom: 0;top: 50%;right: -6px;margin-top: -3px;background: #fff;}
.alert-white.rounded {border-radius: 3px;-webkit-border-radius: 3px;padding-left: 55px;}
.alert-white.rounded .icon {border-radius: 3px 0 0 3px;-webkit-border-radius: 3px 0 0 3px;}
.alert-white .icon i {font-size: 20px;color: #FFF;left: 12px;margin-top: -10px;position: absolute;top: 50%;}
.alert-white.alert-danger .icon, .alert-white.alert-danger .icon:after {border-color: #ca452e;background: #da4932;}
.alert-white.alert-info .icon, .alert-white.alert-info .icon:after {border-color: #3A8ACE;background: #4D90FD;}
.alert-white.alert-warning .icon, .alert-white.alert-warning .icon:after {border-color: #D68000;background: #FC9700;}
.alert-white.alert-success .icon, .alert-white.alert-success .icon:after {border-color: #54A754;background: #60C060;} 
/* Arert End*/
body {
    background-color: #9b1712;
}


@font-face {
font-family: 'FontAwesome';
src: url('../font/fontawesome-webfont.eot'),
 url('../font/FontAwesome.otf'), 
 url('../font/fontawesome-webfont.ttf'),
  url('../font/fontawesome-webfont.woff2') format('woff2'),
   url('../font/Fontawesome-webfont.woff') format('woff'),
    url('../font/FontAwesome-webfont.svg') format('svg');
   font-weight: normal;font-style: normal;}



.home_div .panel{background: none; box-shadow: none; display: inline-block; width: 100%; margin: 0px !important; border: none;}
.home_div h5, .home_div h5 a.bg.bg-primary{margin: 0px;}
.home_div .card-header{margin: 8px 0; display: inline-block; width: 100%;}  

.home_div .progress {
    background-color: #999999;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: #fff;
    float: right;
    height: 20px;
    margin-bottom: 0 !important;
    overflow: hidden;
    width: 9% !important;
}
.panel-body span {
    background-color: #9d261d;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    text-transform: uppercase;
}
.home_div .panel-body{margin: 0px;}
.home_div .panel-body label {
    background-color: #468847;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-size: 12px;
    margin-left: 5px;
    padding: 2px 10px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.home_div .progress-bar {
    background-color: #337ab7;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #fff;
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
    margin-top: 0px !important;
}
.home_div .progress-bar-success {
    background-color: #5cb85c;
}

.container-box {
  background-color: #dcd8d8;
  float: left;
  border-radius: 5px;
  width: 100%;
  margin-top: 25px;
}
.container-box .col-md-12 {
  padding: 0;
}
a:hover, a:focus{
  text-decoration: none;
}
.logo {
  height: 65px;
}
.center-block {
  margin-top: 3%;
  padding-top: 25px;
  background-color: #fff;
  border-radius: 5px;
}
.bg-primary {
  background-color: #0c0d92 !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  color: #ffffff;
  padding-left: 12px;
  padding: 10px;
}
a.bg.bg-primary {
  border-radius: 6px;
  padding-left: 9px;
  width: 100%;
  float: left;
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
}
.bg-primary span {
  font-size: 20px;
}
.expire-date {
  background-color: #9d261d;
  border-radius: 3px;
  padding: 1px 5px;
  color: #fff;
  font-size: 10px;
}
.content {
  padding-left: 9px;
  color: #000000;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.content:hover{
  background-color: #fff;
}
.progress-bar {
  width: 100px;
  color: #000;
  background-color: #999999;
  float: right;
  border-radius: 5px;
  height: 15px;
  margin-top: 10px;
}
.info-loader
{
  float: right;
}
.search-panel input {
  border-radius: 28px;
  font-size: 13px;
  width: 40%;
  float: left;
  height: 30px;
  padding: 5px 5px 5px 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.search-panel .content-btn{float: right;}
.search-panel .content-btn > .dropdown{margin-right: 10px; }
.side-content-text a i {
  padding-right: 10px;
}
.side-content-text  p {
  font-size: 14px;
  padding-left: 25px;
  line-height: 1.5;
}
#dropdownMenu2 {
  background-color: #fff;
  float: right;
}

.dropdown-menu {
  float: right !important;
  margin-left: 78%;
  margin-top: 40px;
}

.menubar {
  background-color: #000;
}
.menubar-logo {
  float: left;
}
.menubar-right {
  float: right;
  list-style: none;
  display: inline-flex;
}
.menubar-right .dropdown .dropdown-toggle {
  color: #fff;
}
.menubar-right .dropdown li a i {
  color: #c3c3c3;
  float: left;
  font-size: 20px;
  margin: 10px;
}
.menubar-text li i {
  font-size: 20px;
  color: #fff;
  float: right;
  margin-left: 10px;
}

.menubar-text li input {
  float: right;
  height: 30px;
  margin-left: 10px;
}
.menubar-text{
  float: right;
  margin-top: 15px;
}
/********************login page*********************/
.form-btn .login-btn {
  background-color: #4311ae;
  border-color: #4311ae;
  border-radius: 5px;
  color: #fff;
  padding: 7px 16px;
  font-size: 20px;
}
.tl-forgot-link a {
  color: #969696;
}
.form-group {
  width: 400px;
  margin-left: 5% !important;
}
.form-input label {
  float: left;
}
#tl-change-to-username {
  float: right;
}
.form-input {
  width: 100%;
  line-height: 40px;
}
.social {
  margin-left: 5%;
  padding: 15px;
}
.form-content{
  border-bottom: 1px solid #dfdfdf;
}
.form-btn {
  margin-bottom: 20px;
  margin-top: 20px;
}
.form-group.checkbox {
  margin-top: 15px !important;
}

/*************************calendar*******************/
.fc-day-header.fc-widget-header {
  background-color: #048AC2 !important;
  padding: 10px;
  color: #fff;
}
.fc-view-container {
  padding: 10px;
}

/****************courses****************/

.course-tab {
  padding-left: 5px;
}
.course-tab a {
  font-weight: bold;
  font-size: 18px;
}
.table-icon i{
  columns: #000;
  font-size:20px;
}
.table-header{
  background-color: #EEEEEA;
}
.table-row{
  background-color: #fff;
}
#example {
  padding-right: 5px;
  padding-left: 5px;
}
.table-row td {
  font-size: 12px;
}
.courses-footer i {
  font-size: 35px;
  float: right;
  margin-right: 10px;
}
/******************* catalog des****************************/
.catalog-text h4 {
  background-color: #f4f4f4 !important;
  border-radius: 5px;
  padding: 5px;
}


.listcoursecatalog{line-height: 25px;}
.listcoursecatalog .catalog-left{ min-width: 100px;}
.listcoursecatalog .catalog-left img{width: 100%;}
.listcoursecatalog .catalog-right span a{color: #333; font-weight: 600;}
.listcoursecatalog .catalog-right .catalog-title a{font-size: 12px; color: #333;}
.listcoursecatalog .catalog-right .catalog-desc a{color: #333; font-size: 13px; line-height: 24px;}
.catalog_description_main .container-box .catalog-text .catalog-desc p{color: #333; font-size: 13px; line-height: 22px;}
.catalog_description_main .catalog-text  a p{font-weight: normal;}
.catalog_description_main .catalog-text  a{ padding: 5px 0; font-size: 13px; font-weight: bold; color: #333; display: inline-block;}
.catalog_description_main .catalog-text i{color: #999; font-size: 14px;margin-right: 5px;}

.btn-small {
    background-color: #0a7a0c;
    background-image: linear-gradient(to bottom, #0c8d0e, #085e09);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    font-size: 12px;
}
.btn-small:hover{color: #fff; background: #085e09;}
.catalog_right_menu .catalog_menu_title{padding: 10px 0 3px 0px;}
.catalog_right_menu .catalog_menu_title a{   font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #333;
}
.catalog_menu_list ul{padding-left: 10px;}
.catalog_menu_list ul  label{font-weight: normal; font-size: 13px;}
.catalog_menu_list ul input[type="radio"], .catalog_menu_list ul input[type="checkbox"]{position: relative; top: 3px; margin-right: 5px; }
.catalog_menu_list ul label i{margin-right: 5px;}
.catalog_menu_list ul label a{color: #333;}

.social_link a{ font-size: 30px; margin-left: 5px;}
.social_link a.fb{color: #3B5998;}
.social_link a.gplus{color: #DC4A38;}
.social_link a.in{color: #0077B5;}
.social_link a:hover{opacity: 0.8;}
.social_link h4{font-size: 14px; line-height: 18px; font-weight: bold; float: left; margin: 11px 0 0 0; }
.signup_inr .signup_inr_left{ float: left; padding-top: 5px; text-align: right; padding-right: 5px; margin-right: 15px; width: 190px;}
.signup_inr .signup_inr_left label{font-size: 13px; line-height: 18px;}
.signup_inr .signup_inr_right input, .signup_inr .signup_inr_right select{  background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    margin-bottom: 0px;
    padding: 4px 6px;
    vertical-align: middle;
    width: 220px;

}
.signup_inr{margin-bottom: 12px;}

.border_top{background: #fff; width: 100%; height: 2px; margin: 10px 0;}

.signup_action{margin-top: 30px; padding: 20px 0 20px 205px; background: #fff;}
.signup_action input[type="submit"].btn-primary{ 
    background-color: #2513ae;
    background-image: linear-gradient(to bottom, #1114ae, #4311ae);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 4px 10px; font-size: 13px;
}
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th{background: #fff;}
.table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr.active:hover > th{background: #f5f5f5;}

@media(max-width:640px){
.signup_inr .signup_inr_left, .signup_inr .signup_inr_right{width: 100%; padding: 0 15px;}
.signup_inr .signup_inr_left{text-align: left;}
.signup_inr .signup_inr_right input, .signup_inr .signup_inr_right select{width:100%; }
.border_top{margin: 30px 0;}
.signup_action{padding-left: 15px;}
}










































