/* GEneral style */
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSansBold-webfont.eot');
    src: url('../fonts/OpenSansBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansBold-webfont.woff') format('woff'),
         url('../fonts/OpenSansBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSansBold-webfont.svg#OpenSansBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

body{font-family: 'OpenSans';font-size: 14px; color: #4d565b;}
ul li{list-style: none;display: inline;}
ul {  padding-left: 0px;}
a{color: #4d565b;transition-duration: 0.2s;}
a:hover, a:focus{text-decoration: none;cursor:pointer; color: #3bb94b;}
input, button, a{outline: none;}
button{border: none;border-radius: 0px;box-shadow: none;color: #ffffff;}
button:hover{opacity: 0.7;}
h1,h2,h3{font-family: 'OpenSans-Bold';text-transform: uppercase;}
h4{font-family: 'OpenSans-Semibold';}
img{max-width: 100%;width: auto;}
select, input[type="text"], input[type="password"], textarea {width: 100%;margin-bottom: 15px;border: 1px solid #e1e1e1;background-color: #fff;padding: 10px;}
input[type="text"],input[type="password"], select{height: 40px;}
input[type="radio"] {margin-bottom: 20px;margin-right: 10px;}
.slide-content input,.slide-content select {border: medium none;border-radius: 0;height: 50px;width: 100%;background-color: #ffffff;}
.green-bg{background-color: rgba(59, 185, 75, 0.9);color: #ffffff;}
.purple-bg{background-color: rgba(166, 103, 254, 0.9);color: #ffffff;}
.green-title{color: #3bb94b;}
.purple-title{color: #a667fe;}
.white-back{background-color: rgba(255, 255, 255, 0.6);}
.grey-background{background-color: #f8f8f8;}
.grey-btn{background-color: #4b555a;}

/* HEADER */

header {background-color: #ffffff;padding: 10px 0px;}
.navbar.navbar-default {background-color: transparent;border: none;margin-bottom: 0px;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #3bb94b;
}
.navbar-default .navbar-toggle:hover .icon-bar , .navbar-default .navbar-toggle:focus .icon-bar{
    background-color: #fff;
}
/* Slider style Start */
#slider {position: relative;color: #ffffff;}
.slider-content {position: absolute;bottom: 45px;width: 100%;}
.site-menu ul {float: left;margin-bottom: 0px;}
.site-menu {float: right;margin-top: 6px;}
.site_menu .site-menu-ul {float: left;margin-bottom: 0px;}
.site-menu-ul li a {padding: 10px 26px;display: inline-block;}
.login_sign_btn {padding: 8px 20px;}
.slider-bg-image img { width: 100%;height: 100%;}
.slider-bg-image {position: relative;height: 200px;}
.home-bg-image {position: relative;}
.home-bg-image img { width: 100%;height: 100%;}
.slide-title h1 {font-size: 100px;opacity: 0.7;}
.slide-title {text-align: center;text-transform: uppercase;}
.slide-title p {font-size: 22px;letter-spacing: 5px;font-family: 'OpenSans-Bold';word-spacing: 3px;}
.location-drop {width: calc( 47% - 165px );float: left;margin-right: 2%;}
.search-box .fa {display: inline-block;font-size: 16px;height: 50px;padding: 16px 15px 15px;position: absolute;text-align: center;vertical-align: middle;width: 40px;}
.search-box {width: 49%;position: relative;float: left;margin-right: 2%;}
.search-box input {padding-left: 40px;padding-right: 10px;}
.content-top {color: #000;padding: 30px;}
.search-box .fa:before {top: 16px !important;}
.fa-user:before {margin-top: 10px !important;top: 23px !important;}
.job-search {width: 165px;height: 50px;}
.content-bottom > div {width: 50%;float: left;padding: 30px;text-align: center;} 
.content-bottom h2 {margin-top: 0px;}
.content-bottom p {font-size: 18px;}
.large-btn{background-color: RGBA(0, 0, 0, 0.3);width: 270px;height: 45px;text-transform: uppercase;font-weight: bold;font-size: 16px;}
/* Slider style End  */
.add-resume {padding: 15px 0px;}
.resume-upload {background-color: #ebebeb;padding: 15px;display: table;width: 100%;}
.medium-btn {padding: 15px;font-weight: bold;}
.resume-upload b {font-size: 24px;display: table-cell;vertical-align: middle;}
.employers-keywords {background-color: #f8f8f8;padding: 25px 0px 35px;}
.purple-h3 {color: #a667fe;}
#populer-job{border-bottom: 1px solid #eeeeee;padding-bottom: 20px;margin-bottom: 20px;}
.searches-cont h4 {margin-bottom: 25px;}
.employer-top {width: 73%;margin: 0 auto;text-align: center;}
.keywords {margin-top: 30px;}
.keywords li a{font-family: 'OpenSans-Semibold';background: #fff;margin-right: 5px;padding: 10px;display: inline-block;margin-bottom: 5px;}
.keywords li a:hover , .job-content-bottom .keywords li a:hover{background-color: #3bb94b;color: #fff;}
.search-type li:last-child a{color: #34b348;text-decoration: underline;font-style: italic;}
.search-type li {width: 50%;float: left;margin-bottom: 10px;color: #4d565b;}
.frequently-type li {width: 50%;float: left;margin-bottom: 20px;font-size: 12px;color: #4d565b;}
/* Footer style */
footer h4{color: #34b348;margin-bottom: 20px;margin-top: 20px;}
.footer-top {padding-bottom: 30px;}
.footer-logo{margin-top: 60px;}
.social-links a {color: #b5b7b8;font-size: 24px;}
.social-links li {margin-right: 22px;}
.social-links li:last-child {margin-right: 0px;}
.footer-bottom p {margin-bottom: 0px;}
.footer-bottom {background-color: #ececec;padding: 13px 0px;}


/* Job Blog List page style */
.sidebar-right {font-size: 16px;}
.content-style{padding: 30px 0px;}
.left-sidebar-content {background-color: #fff;padding: 10px;margin-bottom:20px;}
.label-text {font-size: 16px;font-family: 'OpenSans-Semibold';margin-bottom: 20px;margin-top: 0px;text-transform: inherit;margin-top: 9px;}
.sortby-menu select {width: 150px !important;}
.side-title {font-size: 16px;padding-bottom: 20px;margin-bottom: 15px;border-bottom: 1px solid #e1e1e1;font-family: 'OpenSans-Semibold';}
.sidebar-head {height: 50px;}
/* .checkbox-type */
.checkbox-type input{margin-right: 15px;margin-top: 0px;height: 21px;display: table-cell;vertical-align: middle;}
.checkbox-type {position: relative;margin-bottom: 8px;display: table;}
.checkbox-type label {width: 20px;height: 20px;cursor: pointer;position: absolute;top: 0px;left: 0;background: #ffffff;border-radius: 4px;border: 1px solid #384349;}
.checkbox-type label:after {content: '';width: 13px;height: 8px;position: absolute;top: 3px;left: 2px;border: 3px solid #ffffff;border-top: none;border-right: none;background: transparent;opacity: 0;transform: rotate(-45deg);}
input[type="checkbox"]:checked + label {background-color: #3bb94b !important;}
input[type=checkbox] {visibility: hidden;}
input[type=checkbox]:checked + label:after {opacity: 1;}
/* checkbox-type  end*/

.job-post-list, .job-more-detail {padding: 30px;background-color: #fff;}
.job-title {font-size: 24px;text-transform: initial !important;font-family: 'OpenSans';margin-top: 0px;}
.description {font-size: 16px;}
.job-post-type span:last-child {font-family: 'OpenSans-semibold';margin-left: 10px;font-size: 14px;}
.job-post-type {margin-right: 10px;}
.job-post-type span:first-child {font-size: 16px;}
.jobpost-content {padding-bottom: 30px;border-bottom: 1px solid #e1e1e1;margin-bottom: 30px;}
.job-post-list .jobpost-content:last-child,.similar-content .similar-jobs:last-child {border-bottom: none;margin: 0px;}
.jobpost-right , .jobpost-left {float: left;}
.jobpost-left {width: calc(100% - 100px);}
.jobpost-right {width: 100px;text-align: right;}
.jobpost-right .btn {font-size: 12px;font-family: 'Opensans-Bold';padding: 4px 10px;}
.select-value {margin-top: 40px;}
.select-value .ui-widget-header {background-color: #3bb94b;}
.select-value .ui-widget-content {border: none;background-color: #e1e1e1;height:9px;}
.select-value .ui-slider-handle {background-color: #3bb94b !important;height: 25px !important;width: 25px !important;border-radius: 100%;border: none !important;box-shadow: 0px 0px 5px #888888;top: -8px !important;}
.range-limit {font-family: 'OpenSans-Semibold';margin: 15px 0px;font-size:16px;}

/************************************alert-box****************************/


/*Job detail page */
.detail-bottom-btn {margin-top: 30px;}
.green-lg-button {background-color: #3bb94b;font-family: 'OpenSans-Semibold';text-transform: uppercase;font-size: 16px;padding: 14px 60px;}
.aplly-button button{width:100%;margin-bottom:10px;}
.job-company p{font-size: 18px;}
.job-company-head {font-family: 'Opensans';font-size: 30px;}
.social-part .social-links a {color: #4d565b;}
.job-content-head .job-post-type.location span:last-child {font-size: 24px;font-family: 'OpenSans';}
.job-content-head, .testimonial {margin-bottom: 30px;}
.social-part {margin-top: 20px;}
.jobs-similar .side-title {margin-top: 10px;}
.similar-jobs a {font-family: 'OpenSans-Bold';}
.similar-jobs {border-bottom: 1px solid #e1e1e1;margin-bottom: 10px;}
.job-main-title {font-size: 30px;font-family: 'Opensans-semibold';text-transform: inherit;margin-top: 0px;}
.job-content-head .job-post-type.location {width: 100% !important;float: left;font-size: 24px;font-family: 'OpenSans' !important;margin-bottom: 15px;line-height: 20px;}
.job-label {font-size: 24px;font-family: 'OpenSans-semibold';margin-bottom: 20px;text-transform: inherit;}
.job-content-bottom .keywords li a{font-size:14px;background-color: #e9e9e9;border-radius: 3px;padding: 10px 20px;font-family: 'OpenSans';}
.testimonial .ui-widget-content {border: none;}
.testimonial .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background-color: transparent;border: none;}
.testimonial .ui-accordion-header {font-size: 16px !important;font-family: 'Opensans';text-transform: inherit;}
.testimonial .ui-widget{font-family: 'Opensans';font-size: 16px;}
.testimonial .ui-icon-triangle-1-e {background-position: -32px 1px;}
.testimonial .ui-icon-triangle-1-s {background-position: -64px 0px;}
.ui-accordion .ui-accordion-header .ui-icon-triangle-1-e {background-image: url("../images/dropdown-icon-new.png");background-position: 0px 1px;}
.ui-accordion .ui-accordion-header .ui-icon-triangle-1-s {background-image: url("../images/dropdown-icon-new.png");background-position: 0px -13px;}
.ui-accordion-content {height: auto !important;}
/* Aplly for Popup style */
.modal-content {border-radius: 0px;}
.modal-header {border-bottom: none;}
.popup-head {margin: 0px 30px;border-bottom: 1px solid #d9d9d9;padding-bottom: 20px;}
.apply-for {font-family: 'Opensans-bold';text-transform: uppercase;font-size: 24px;margin-bottom: 17px;margin-top: 15px;}
.popup-head .job-title {font-size: 20px;font-family: 'OpenSans-semibold';margin-bottom: 8px;}
.popup-head .job-post-type span:last-child {font-size: 20px;font-family: 'OpenSans';}
.send-job-btn {background-color: #3bb94b;font-family: 'OpenSans-Semibold';font-size: 16px;padding: 10px 60px;margin: 30px auto;display: inherit;width: 100%;}
.upload-file{margin-bottom: 10px;}
.small-text {font-size: 12px;}
.popup-form {width: 375px;margin: 0px auto 30px;}
/*Register and login popup */
.register-login .popup-head {margin-bottom: 30px;}
.send-job-btn.login-btn {margin: 0px;margin-bottom: 20px;}
.register-login a:hover{color: #2fad3f;text-decoration: underline;}
/* about us page */
.innerpage-content {background-color: #f8f8f8;padding: 130px 0px 30px;}
.about-right .job-label {margin-top: 0px;}
.our-goal-content {margin-top: 70px;margin-bottom: 60px;}
.our-goal-content span {font-family: 'opensans-semibold';font-size: 16px;margin-left: 20px;}
.our-goal {width: 300px;}
.our-goal p {margin-top: 10px;}
.content-div {margin-bottom: 30px;}
.innerpage-head {color: #4b555a;position: absolute;bottom: -70px;width: 100%;}
.innerpage-head .contain-head {background-color: #fff;padding: 15px;border: 1px solid #d6d6d6;text-align: center;}
.innerpage-head .contain-head h1 {margin-top: 20px;line-height: 27px;font-family: 'OpenSans-semibold';text-transform: inherit;margin-bottom: 18px;}
.innerpage-head .contain-head p {margin-bottom: 20px;font-size: 16px;}
.innerpage-content .container .content-div:first-child h3 {margin-top: 0px;}
.content-div p {margin-bottom: 15px;}
.contact-form input {width: 100%;float: left;}
.contact-form h3 {font-family: 'OpenSans';margin-top: 60px;}
.send-green {background-color: #3bb94b;font-family: 'OpenSans-Semibold';padding: 10px 40px;font-size: 18px;}

/* User */
.page-content{background-color:#f8f8f8;padding:30px 0px;}
/*Profile snapshot */
.rightside-content {padding: 10px 15px;background-color: #ffffff;margin-bottom: 20px;}
    /*.full-field input, .full-field select {width: 50%;}*/
.checkbox-list .checkbox-type {display: inline-block;margin-bottom: 20px;margin-right: 40px;margin-top: 10px;}
.checkbox-list .checkbox-type:last-child {margin-right: 0px;}
.ui-autocomplete.ui-widget-content li {display: block !important;width: 100%;}
.side-content .checkbox-list .checkbox-type {width: 100%;margin: 0px 0px 15px;}
.last-use input {width: 110px;}
.last-use span {margin-top: 12px;margin-bottom: 10px;}
.last-use input:last-child {margin-left: 10px;}
.enter-skill input{width: 100%;}
.year-icon span {
  position: absolute;
  right: 12px;
  top: 13px;
  color: #565656;
}
select option {
  padding:7px 10px;
}
.year-icon {position: relative;}
/* Notificatiion page style */

.job-notification {background-color: #ffffff;padding: 30px;margin-bottom: 20px;}
.based-profile-text {font-family: 'opensans-semibold';margin-bottom: 30px;}
.notification-top {border-bottom: 1px solid #eeeeee;padding-bottom: 20px;margin-bottom: 20px;}
.date-label {font-style: italic;}
.post-by button {float: right;background-color: #3bb94b;font-size: 12px;font-family: 'opensans-bold';padding: 5px 20px;border-radius: 3px;}
.post-by span {font-family: 'opensans-semibold';font-style: italic;}
.post-by span:first-child {color: #707577;}

/* Header chart style start */

.chart-itens .glyphicon-bell {font-size: 22px;}
.chart-itens {position: relative;}
.chart-itens label {background-color: #e30d27;color: #fff;line-height: 100%;padding: 3px;border-radius: 100%;min-width: 18px;text-align: center;font-size: 10px;position: absolute;right: -8px;top: -9px;border: 1px solid #fff;}
.user-name {color: #a667fe;border: 1px solid #a667fe;padding: 6px 10px;}
.user-name-div {display: inline-block;position: relative;}
.user-dropdown {width: 170px;display: none;background-color: #ffffff;position: absolute;z-index: 1;border: 1px solid #eeeeee;top: 30px;right: 0px;}
.user-dropdown li {float: left;width: 100%;padding: 10px 20px;cursor: pointer;}
.user-dropdown::before {font-family: 'FontAwesome';content: "\f0d8";position: absolute;top: -12px;font-size: 28px;line-height: 10px;right: 20px;color: #ededed;}
.user-dropdown li span:first-child {margin-right: 10px;}
.user-dropdown li:hover a, .user-dropdown li.active a {color: #3bb94b;}
.user-name-div:hover .user-dropdown {display: block;}
.user-setting, .chart-itens {float: left;margin-top: 10px;}
.user-setting {margin-right: 20px;}
.profile-visible input, .profile-visible span  {margin-top: 0px;}
.visible-radio {float: right;display: inline-flex;}
.profile-visible input[type="radio"] {margin-left: 15px;margin-right: 5px;}
/* header chart style end*/

/* Contact Us style start */
.map-main-content{text-decoration:none; overflow:hidden; height:500px; width:100%; max-width:100%;}
#my-map-display{height:100%; width:100%;max-width:100%;}
#my-map-display img{max-width:none!important;background:none!important;}
#my-map-display iframe{height:100%;width:100%;border:0;}
/* Contact Us Style end */
label.error{font-size:12px;color:#F00;}

/*Alerts*/
.alert {
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
}
.alert .sign {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
  text-align: center;
  width: 25px;
  display: inline-block;
}
.alert-success {
  background-color: #DBF6D3;
  border-color: #AED4A5;
  color: #569745;
}
.alert-info {
  background-color: #D9EDF7;
  border-color: #98cce6;
  color: #3A87AD;
}
.alert-warning {
  background-color: #FCF8E3;
  border-color: #F1DAAB;
  color: #C09853;
}
.alert-danger {
  background-color: #F2DEDE;
  border-color: #e0b1b8;
  color: #B94A48;
}
.alert-white {
  background-image: linear-gradient(to bottom, #ffffff, #f9f9f9);
  border-top-color: #d8d8d8;
  border-bottom-color: #bdbdbd;
  border-left-color: #cacaca;
  border-right-color: #cacaca;
  color: #404040;
  padding-left: 61px;
  position: relative;
}
.alert-white .icon {
  text-align: center;
  width: 45px;
  height: 103%;
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid #BDBDBD;
  padding-top: 15px;
}
.alert-white .icon:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #BDBDBD;
  position: absolute;
  border-left: 0;
  border-bottom: 0;
  top: 50%;
  right: -6px;
  margin-top: -3px;
  background: #fff;
}
.alert-white.rounded {
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.alert-white.rounded .icon {
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
}
.alert-white .icon i {
  font-size: 20px;
  color: #FFF;
  left: 12px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}
.alert-white.alert-danger .icon,
.alert-white.alert-danger .icon:after {
  border-color: #ca452e;
  background: #da4932;
}
.alert-white.alert-info .icon,
.alert-white.alert-info .icon:after {
  border-color: #3A8ACE;
  background: #4D90FD;
}
.alert-white.alert-warning .icon,
.alert-white.alert-warning .icon:after {
  border-color: #D68000;
  background: #FC9700;
}
.alert-white.alert-success .icon,
.alert-white.alert-success .icon:after {
  border-color: #54A754;
  background: #60C060;
}



/* Responsive View Style Start */
@media  screen and (min-width: 1280px)
{
    .container {width: 1230px;}
}
@media screen and (max-width: 1200px)
{
h2 {font-size: 24px;}
h3 {font-size: 18px;}
h4 {font-size: 15px;}
.content-bottom > div {padding: 20px;}
.content-bottom p {font-size: 14px;}
.search-type li a {font-size: 12px;}
.resume-upload b{font-size: 20px;}
.slide-title h1 {font-size: 70px;}
.slide-title p {font-size: 18px;letter-spacing: 2px;}
.employer-top{width: 68%;}
.site-menu-ul li a {padding: 10px 20px;}
}
@media screen and (max-width: 992px)
{
    h2 {font-size: 22px;}
    h3 {font-size: 16px;}
    h4 {font-size: 14px;}
    .slide-title h1 {font-size: 60px;  line-height: 48px;}
    .slide-title p {font-size: 14px;letter-spacing: 2px;word-spacing: 4px;}
    .large-btn {font-size: 14px;width: 200px;height: 35px;}
    .resume-upload b {font-size: 18px;}
    .medium-btn , .resume-upload{padding: 10px;}
    .employer-top{width: 80%}
    .content-bottom > div {padding: 15px;}
    .m_t_50{margin-top: 20px}
    input, select, .job-search{height: 40px;}
    input[type="radio"]{height: auto;}
	.slide-content input, .slide-content select{height:40px;}
    .site-menu-ul li a {font-size: 12px;padding: 11px 10px;}
    .search-box .fa {padding: 11px 10px 9px;height: 40px;}
    .job-search {width: 100px;}
    .location-drop {width: calc( 47% - 100px );}
	/*JOb post page */
	.job-title {font-size: 18px;}
	.description {font-size: 14px;}
	.jobpost-right {width: 80px;}
	.jobpost-left {width: calc(100% - 80px);}
	.job-post-type.location {width: 100%;float: left;}
    .about-right .job-label {margin-top: 50px;}
    .our-goal {width: 100%;}
}
@media screen and (max-width: 767px)
{
    .site-menu ul{margin-bottom: 10px;}
    .site-menu , .site-menu-ul {width: 100%;padding: 0px;}
    .site-menu-ul li , .site-menu-ul li a{float: left;width: 100%;}
    .site-menu-ul li a {color: #fff !important;background-color: #444444;}
    .site-menu-ul li a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {background-color: #393939;}
    .login_sign_btn {float: right;}
    .home-bg-image {height: 550px;}
    .slider-content{bottom: 20px;}
    .content-top{padding: 10px;}
    .search-box, .location-drop , .full-field input, .full-field select{width: 100% !important;}
    .content-bottom h2 {font-size: 16px;margin-bottom: 5px;}
    .content-bottom p {font-size: 12px;}
    .content-bottom > div {padding: 10px;}
    .large-btn {font-size: 12px;height: 30px;}
    .job-search {margin: 0 auto !important;float: none !important;display: inherit;}
	/*JOb  post page */
	.sortby-menu.sidebar-head {margin-top: 20px;}	
	.job-post-list, .job-more-detail {padding: 15px;}
	.jobpost-content {padding-bottom: 15px;margin-bottom: 15px;}
	.jobpost-left , .jobpost-right, .contact-form input {width: 100%;}
	.jobpost-right .btn {margin-top: 10px;}
    .job-main-title {font-size: 24px;}
    .job-label{font-size: 20px;}
    .job-content-head .job-post-type.location span:last-child {font-size: 18px;}
    .our-goal {text-align: center;margin-bottom: 30px;}
    .our-goal-content {margin-top: 30px;margin-bottom: 30px;}

}
@media screen and (max-width: 639px)
{    
    .content-bottom > div {width: 100%;}
    .slide-title h1 {font-size: 40px;line-height: 28px;}
    .slide-title p {text-align: center;}
    .resume-upload b {font-size: 14px;width: 100%;display: block;}
    .resume-upload {text-align: center;}
    .resume-upload button {margin: 0 auto;float: none !important;margin-top: 10px;}    
    .employer-top{width: 100%;font-size: 12px;}	
	.slider-bg-image.inner-page {height: 200px;}	
}
@media screen and (max-width: 480px)
{
    .slide-title h1 {font-size: 30px;}
    .slide-title p {letter-spacing: 1px;word-spacing: 4px;}
    .popup-form {width: 100%;}
    .popup-head {margin: 0px;}
}

/**/
