﻿.home_new_member.home_new_member2 .new_member_row@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700|Spectral+SC:300,400,500,600,700');
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}
/* reset css */
html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
hr{border-top:1px solid #CCC;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.btn, a, img {
    outline: none !important;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #800000;
}
.font36 {
    font-size: 36px;
}
.light {
    font-weight: 300;
}
.medium {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
.no-border {
    border: 0px !important;
}
.no-margin {
    margin: 0px !important;
}
.margin-top-15 {
    margin-top: 15px !important;
}
.margin-bottom-15 {
    margin-bottom: 15px !important;
}
.margin-top-30 {
    margin-top: 30px !important;
}
.margin-bottom-30 {
    margin-bottom: 30px !important;
}
.margin-bottom-60 {
    margin-bottom: 60px !important;
}
.margin-top-0 {
    margin-top: 0px !important;
}
.margin-bottom-0 {
    margin-bottom: 0px !important;
}
.no-padding {
    padding: 0px !important;
}
.padding-top-5 {
    padding-top: 5px !important;
}
.padding-top-10 {
    padding-top: 10px !important;
}
.padding-top-15 {
    padding-top: 15px !important;
}
.padding-bottom-15 {
    padding-bottom: 15px !important;
}
.padding-top-30 {
    padding-top: 30px !important;
}
.padding-bottom-30 {
    padding-bottom: 30px !important;
}
.padding-top-0 {
    padding-top: 0px !important;
}
.padding-bottom-0 {
    padding-bottom: 0px !important;
}
strong {
    font-weight: 500 !important;
}
p {
    font-size: 16px;
    line-height: 24px;
}
p {
    color: #343434;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px !important;
}
.gray-text {
    color: #666 !important;
}
.black-text {
    color: #444 !important;
}
.white-text {
    color: #fff !important;
}
.red-text {
    color: #800000 !important;
}
.blue-text {
    color: #39529b !important;
}
.skyblue-text {
    color: #18b5ff !important;
}
a, label {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */ /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
.link-btn {
    text-transform: uppercase;
    color: #39529b;
}
.form-control {
    box-shadow: none !important;
    height: 40px !important;
    border-radius: 0px;
}
textarea.form-control {
    min-height: 150px;
}
/*default*/

body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
    line-height: 1;
}
.spectral-font {
    /*font-family: 'Spectral SC', serif;*/
}
.font12 {
    font-size: 12px;
}
.font14 {
    font-size: 14px;
    line-height: 20px;
}
/*header*/

.main-header ul li a {
    color: #fff;
    text-transform: uppercase;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}
.main-header ul li {
    margin: 0 8px;
}
.main-header ul li:last-child {
    margin-right: 0;
}
.main-header .navbar  ul li a:hover, .main-header .navbar  ul li a:focus, .main-header .navbar  ul li.active a {
    background-color: none !important;
    color: #fff !important;
    border-bottom: 4px solid #e04646;
}
.main-header .nav .open > a, .main-header .nav .open > a:focus, .main-header .nav .open > a:hover {
    background-color: none;
    border-color: #e04646;
}
.home_slider .carousel .item {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 45%;
    width: 100%;
}
.main-header .navbar {
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 30px;
}
.main-header .navbar .navbar-brand {
    height: auto;
    padding: 25px 15px;
}
.main-header .navbar .navbar-brand img {
    width: 200px;
    height: auto;
}
.main-header .navbar ul {
    margin-top: 40px;
}
.main-header .navbar ul.navbar-right {
    margin-right: 0;
}
.main-header ul li a.login {
    border: 1px solid #fff;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    background: #282828;
}
.main-header ul li a.signup, .main-header ul li a.login {
    display: inline-block;
    text-align: center;
}
.main-header ul li a.signup {
    background: #800000 !important;
    border: 1px solid #fff;
    color: #fff;
}
.main-header .navbar ul.dropdown-menu {
    margin-top: 20px;
    left: 0;
    right: auto;
    border: none;
    border-radius: 0;
    padding: 0;
}
.main-header .navbar ul.dropdown-menu li {
    margin: 0;
    background-color: #800000;
}
.home_slider .carousel-caption {
    top: 45%;
	background:rgba(0,0,0,0.4);
	bottom:unset;
}
.main-header ul.dropdown-menu li.active a, .main-header ul.dropdown-menu li a {
    border-bottom: none !important;
}
.main-header .navbar ul.dropdown-menu li.active a, .main-header .navbar ul.dropdown-menu li:hover a, .main-header .navbar ul.dropdown-menu li:focus a {
    background-color: #b5212b !important;
    border-bottom: none !important;
}
.carousel-caption h3 {
    font-size: 34px;
    line-height: 40px;
    /*font-family: 'Spectral SC', serif;*/
}
.carousel-caption p {
    color: #fff;
    padding-top: 15px;
    font-size: 18px;
}
.home_slider .carousel .carousel-control {
    width: 35px;
    height: 35px;
    top: 45%;
}
.home_slider .carousel-control .glyphicon-chevron-right {
    background: rgba(255,255,255,0.4);
    width: 35px;
    height: 35px;
    margin: 0;
    right: 0;
    top: 0;
}
.home_slider .carousel-control .glyphicon-chevron-left {
    background: rgba(255,255,255,0.4);
    width: 35px;
    height: 35px;
    margin: 0;
    left: 0;
    top: 0;
}
.red_section {
    background: #800000;
}
.red_section p {
    font-size: 30px;
    padding: 35px 10px;
    text-align: center;
    /*font-family: 'Spectral SC', serif;*/
}
.map_section {
    position: relative;
}
.map_section #map {
    width: 100%;
    height: 600px;
}
.map_header {
    /*font-family: 'Spectral SC', serif;*/
    font-size: 32px;
    text-align: center;
    position: absolute;
    z-index: 9;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 25px 0;
    font-weight: 600;
}
.video_section .bg_img {
    background: url(../images/video_img.png) no-repeat center;
    background-size: cover;
    padding-top: 30%;
    width: 100%;
    position: relative;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.center-block {
    display: table;
}
.video_section h3 {
    color: #fff;
    font-size: 26px;
    padding: 15px 0;
}
.video_section p {
    color: #fff;
}
.video_section .center-block img {
    margin: 0 auto;
}
.video_section .container {
    height: 100%;
    text-align: center;
    display: table;
}
.video_section .center-block {
    display: table-cell;
    vertical-align: middle;
}
.modal-dialog.video_modal {
    width: 70%;
}
.media_page .media_tab, .wrapper {
    width: 100%;
    float: left;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*Modal horizontal-vertical center */
.modal {
    text-align: center;
    padding: 0!important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-header {
    border-bottom: medium none;
}
section {
    width: 100%;
    float: left;
}
.member_section {
    padding: 50px 0;
}
.head h1 {
    /*font-family: 'Spectral SC', serif;*/
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #000;
}
.member_section .content-part .member_row {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}
.member_section .content-part .member_row .title {
    color: #343434;
    font-size: 16px;
}
.home_user_page .section2 .content-part .member_row .title {
    color: #343434;
    font-size: 20px;
    font-weight: 600;
}
.home_user_page .section2 .content-part .member_row {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.member_section .content-part .member_row .desc {
    color: #666;
    font-size: 14px;
}
.member_section .content-part .member_row .date {
    color: #666;
    font-size: 14px;
    padding-top: 10px;
}
.member_section .member_updates {
    padding-right: 50px;
    border-right: 1px solid #ddd;
}
.member_month .member_img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 1px solid #ddd;
    margin: 40px auto 0px;
}
.member_month .member_img img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 15px;
}
.member_month {
    text-align: center;
}
.member_month .member_date {
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
}
.member_month .member_name {
    /*font-family: 'Spectral SC', serif;*/
    font-size: 32px;
    color: #800000;
    font-weight: 700;
    padding: 30px 0 15px;
}
.member_section .btn_cls {
    margin-top: 15px;
}
.gray-border-btn {
    background: #fff;
    color: #d1454f;
    min-width: 130px;
    font-weight: 500;
    border-radius: 0;
    font-size: 16px;
    border: 1px solid #ddd;
    padding: 10px 15px;
}
.gray-border-btn:hover, .gray-border-btn:focus {
    background: #ddd;
}
.gray-btn {
    background: #c9c9c9;
    color: #800000;
    text-transform: uppercase;
    min-width: 150px;
    font-weight: 500;
    border-radius: 0;
    font-size: 16px;
    border: 1px solid #c9c9c9;
}
.gray-btn:hover, .gray-btn:focus {
    background: none;
    border: 1px solid #800000;
    color: #800000 !important;
}
.red-btn:hover, .red-btn:focus {
    background: none;
    border: 1px solid #800000;
    color: #800000;
}
.red-btn {
    background: #800000;
    color: #fff;
    text-transform: uppercase;
    min-width: 150px;
    font-weight: 500;
    border-radius: 0;
    border: 1px solid #800000;
    font-size: 14px;
}
.member_month .member_post {
    margin-bottom: 50px;
}
/*bottom-slider*/
.bottom_slider .carousel {
    margin-bottom: 0;
}
/* Reposition the controls slightly */


/* Changes the position of the indicators */
.bottom_slider .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.bottom_slider .carousel-indicators li {
    background: #c0c0c0;
}
.bottom_slider .carousel-indicators .active {
    background: #333333;
}
.bottom_slider {
    background: #800000;
    padding: 50px 0;
}
.bottom_slider .white-box {
    background: #fff;
    padding: 15px;
    min-height: 360px;
    height: auto;
}
.border {
    border: 1px solid #ddd;
    margin: 0 0 15px;
}
.bottom_slider .img-block {
    height: 100%;
    max-height: 150px;
    max-width: 100%;
    padding: 5px;
    text-align: center;
    width: 100%;
}
.bottom_slider .img-block img {
    margin: 0 auto;
    max-height: 200px;
    width: auto !important
}
.bottom_slider .white-box .red-text {
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    /*font-family: 'Spectral SC', serif;*/
    min-height: 45px;
}
.bottom_slider .white-box p {
    font-size: 14px;
    text-align: center;
    line-height: normal;
}
.head.white-text h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}
.info_section .center-block {
    float: none;
}
.info_section {
    padding: 70px 0;
}
.info_section .img-part img {
    width: 150px;
    height: 150px;
}
.info_section .img-content {
    padding-top: 2%;
}
.info_section .img-content .sec_row {
    font-size: 13px;
    margin-top: 10px;
}
.bottom_slider .container {
    position: relative;
}
#owl-demo .item {
    margin: 3px;
}
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}
#prev {
    position: absolute;
    left: -42px;
    top: 50%;
    z-index: 9;
    background-image: url(../images/left.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35px;
    width: 35px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    cursor: pointer;
}
#next {
    position: absolute;
    right: -42px;
    top: 50%;
    z-index: 9;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-image: url(../images/right.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    cursor: pointer;
}
.map_inner_section .west, .map_inner_section .middle, .map_inner_section .east {
    display: inline-block;
    padding: 0 30px;
    text-align: center;
}
.map_inner_section {
    padding: 30px 0;
    /*font-family: 'Spectral SC', serif;*/
}
.map_inner_section h1.number {
    color: #c82631;
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 600;
}
.map_inner_section p {
    color: #343434;
    font-size: 28px;
    line-height: 30px;
    font-weight: 600;
}
.navbar.menufixed {
    background: #252525;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer {
    width: 100%;
    float: left;
    background: #252525;
}
.footer footer ul li a, .footer footer a {
    color: #fff;
    line-height: 30px;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
}
.footer footer ul li.active a, .footer footer ul li a:hover, .footer footer ul li a:focus {
    border-bottom: 2px solid #e04646;
}
.footer footer .sec-col p.addr {
    margin: 10px 0;
    color: #bebebe;
}
.border-right {
    border-right: 1px solid #3b3b3b;
    height: 150px;
    float: right;
}
.footer footer .first-col, .footer footer .sec-col {
    display: inline-block;
}
.footer footer .sec-col {
    padding-left: 30%;
}
.footer footer .third-col {
    padding-left: 20%;
}
.footer footer .footer-logo img {
    width: 200px;
    height: auto;
}
.footer footer .first-col ul li a i {
    font-size: 25px;
}
.footer footer .first-col ul {
    margin-top: 30px;
}
.footer footer .first-col ul li {
    display: inline-block;
    margin-right: 15px;
}
.footer footer .first-part {
    width: 100%;
    float: left;
    padding: 50px 0;
}
.footer footer .sec-part, .membership_process_page .membership_content {
    width: 100%;
    float: left;
}
.footer footer .sec-part p {
    padding: 20px 0;
    text-align: center;
    color: #bebebe;
    background: #1e1e1e;
    width: 100%;
}
/*about-page*/
.navbar.inner_header {
    background: #252525;
}
.inner_wrapper {
    width: 100%;
    float: left;
    margin-top: 100px;
    background: #f2f2f2;
}
.about_us, .contact_us, .event_page, .account_page, .membership_page, .member_search_page, .initiative_page, .media_page, .membership_process_page, .blog_page, .home_user_page, .why_join_page, .faq_page {
    padding: 0px;
    width: 100%;
    float: left;
    background-color: #f2f2f2;
}
.offwhite-bg {
    background-color: #f2f2f2;
}
.about_us {
    /*background-image: url(../images/aboutus_banner.png);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}
/*.banner_section {
    background-image: url(../images/aboutus_banner.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}*/
.page_head h1 {
    font-weight: 600;
    font-family: 'Spectral SC', serif;
    text-transform: uppercase;
    margin: 40px 0;
}
.inner_page_head {
    font-size: 30px;
    font-weight: 600;
    /*font-family: 'Spectral SC', serif;*/
    text-transform: uppercase;
    margin: 40px 0;
    display: inline-block;
}
.about_us p.content {
    line-height: 35px;
    /*text-align: center;*/
    font-size: 16px;
    padding: 0 9%;
}
.sec_banner {
    height: auto;
    padding-top: 70px;
    padding-bottom: 80px;
}
.vision .vision_bg {
    background: url(../images/vision.png) no-repeat center;
    background-size: auto;
    height: 400px;
}
.vision .vision_content {
    display: table;
    min-height: 400px;
    height: auto;
}
.vision .vision_content .table_cell {
    display: table-cell;
    vertical-align: middle;
    height: 400px;
    padding: 20px 0;
}
.vision .vision_content p.content, .vision .vision_content .content p {
    line-height: 35px;
    text-align: left;
    font-size: 16px;
}
.vision .objective_bg {
    background: url(../images/objective.png) no-repeat center;
    background-size: auto;
    height: 400px;
}
.contact_page .contact_us .left-part, .contact_page .contact_us .right-part {
    display: inline-block;
    float: left;
}
.contact_us .text {
    width: 60%;
    /*text-align: center;*/
    margin: 0 auto;
}
.contact_details {
    width: 100%;
    float: left;
    margin: 60px 0 30px;
}
.contact_us .left-part .address {
    margin-bottom: 30px;
    width: 100%;
    float: left;
}
.contact_us .left-part .email {
    width: 100%;
    float: left;
}
.event_page .month_list ul {
    margin: 60px auto 50px;
    text-align: center;
}
.event_page .month_list ul li {
    margin: 0 5px;
    display: inline-block;
}
.event_page .month_list ul li a {
    color: #343434;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
}
.event_page .month_list ul li a:hover, .event_page .month_list ul li a.active {
    background: #800000;
    color: #fff;
}
.event_page .list_block {
    width: 100%;
    margin: 20px 0;
    float: left;
}
.event_page .list_block .list-box {
    background: #fff;
    width: 100%;
    float: left;
    margin: 0 0 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.event_page .list_block .red-box {
    background: #800000;
    color: #fff;
    min-height: 120px;
    padding: 15px;
}
.event_page .list_block .red-box .date_block h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.event_page .list_block .red-box .date_block p.day {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.event_page .list_block .red-box .date_block h1 span {
    border-bottom: 2px solid #d45159;
    padding: 0 0 20px 0;
    margin-bottom: 15px;
    display: inline-block;
}
.event_page .list_block .content_block {
    padding: 15px 0;
    width: 100%;
    float: left;
}
.event_page .list_block .content_block .event_name {
    font-size: 28px;
    /*font-family: 'Spectral SC', serif;*/
    margin-bottom: 10px;
}
.event_page .list_block .content_block .new_row p {
    font-size: 18px;
}
.event_page .list_block .content_block p.light-gray-text {
    text-transform: uppercase;
}
.light-gray-text {
    color: #8d8d8d;
}
.event_page .list_block .content_block .new_row .gray-btn {
    width: 100%;
    min-width: 100%;
}
.dark-gray.gray-btn {
    min-width: 100%;
    margin-top: 15px;
}
/*team-page*/
.team-member {
    padding: 15px;
}
.team-container .member-pic {
    background-size: cover;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.team-container .member-box .member-pic {
    /*filter: grayscale(100%);*/
}
.team-container .member-box:hover .member-pic, .team-container .member-box:focus .member-pic {
    filter: grayscale(0%);
}
.team-member .member-box {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    float: left;
    cursor: pointer;
    min-height: 475px;
    height: auto;
    position: relative;padding-bottom: 35px;
}
.team-member .member-box h2.name {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 10px 0;
}
.team-container .pop-up.open .pop-up-bg .member-desc h2.name {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
    width: 100%;
    float: left;
}
.team-container .pop-up.open .pop-up-bg .member-desc h2.name span {
    width: 90%;
    float: left;
}
.team-container .pop-up.open .pop-up-bg .member-desc h2.name a {
    float: right;
}
.team-member .member-box .post {
    padding: 0 10px 10px;
    width: 100%;
    float: left;
}
.team-member .member-box .post span {
    vertical-align: middle;
    line-height: 25px;
    float: left;
    width: 90%;
}
.team-container .pop-up.open .pop-up-bg .member-desc .post span {
    vertical-align: middle;
    line-height: 25px;
    float: left;
    width: 100%;
    font-size: 18px;
    padding-bottom: 10px;
}
.team-container .pop-up.open .pop-up-bg .member-desc .desc p {
    line-height: 25px;
}
.team-member .member-box .arrow {
    background: url(../images/arrow.png) no-repeat center;
    background-size: cover;
    height: 25px;
    width: 25px;
    float: right;
}
.team-container .close-img {
    background: url(../images/close.png) no-repeat center;
    background-size: cover;
    height: 25px;
    width: 25px;
    float: right;
}
.team-container {
    width: 100%;
    float: left;
    margin: 30px 0;
}
.team-container .position-relative {
    position: relative;
}
.team-container .pop-up {
    position: absolute;
    width: 0%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    -webkit-transition: all ease 0.8s; /* Safari */
    transition: all ease 0.8s;
    opacity: 0;
    overflow: hidden;
}
.team-container .pop-up > * {
    -webkit-transition: all ease 0.8s;  /*s*/
    transition: all ease 0.8s;
    opacity: 0;
    width: 0%;
    overflow: hidden !important;
}
.team-container .pop-up.open {
    width: 98%;
    display: block;
    -webkit-transition: all ease 0.8s;  /*Safari*/
    transition: all ease 0.8s;
    transition-duration: 0.6s;
    opacity: 1;
    margin: 0 auto;
    box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.15);
    z-index: 1050;
}
.team-container .pop-up.open .desc .post {
    width: 100%;
    float: left;
}
.team-container .pop-up.open .desc p {
    width: 100%;
    float: left;
}
.team-container .pop-up.open .member-desc {
    transition: opacity ease-in 1.5s;
    transition-duration: 1.5s;
    float: left;
    opacity: 1;
}
.team-container .pop-up .member-desc {
    opacity: 0;
}
.team-container .pop-up.open > * {
    opacity: 1;
    overflow: hidden;
}
.team-container .pop-up.open .pop-up-bg {
    background-color: rgb(255, 255, 255);
    width: 100%;
    float: left;
}
.team-container .pop-up.open .pop-up-bg .member-desc {
    padding: 15px;
}
#pop-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.6;
    z-index: 1040;
    -webkit-transition: all ease 1s;  /*Safari*/
    transition: all ease 1s;
    transition-duration: 1s;
}
.vision_objective {
    width: 100%;
    float: left;
    padding: 50px 0;
    background: #fff;
}
.about_page .about_address {
    text-align: center;
    margin: 30px 0;
    width: 100%;
    float: left;
}
.about_page .about_address img {
    margin: 10px auto;
}
.about_page .about_address p {
    margin-bottom: 5px;
}
/*login-page*/
.login_page {
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    display: table;
}
.login_page .center-div {
    display: table-cell;
    vertical-align: middle;
}
.login_page .logo img {
    width: 180px;
    height: auto;
    margin: 0 auto 20px;
}
.login_page .logo {
    display: inline-block;
    text-align: center;
    float: none;
    width: 100%;
}
.login_page .login-head, .signup_page .signup-head {
    text-transform: uppercase;
    margin: 20px 0;
}
.login_page .login-box {
    border: 1px solid rgb(210, 210, 210);
    background-color: rgb(255, 255, 255);
    width: 550px;
    padding: 30px;
    margin: 20px auto;
}
.form-group label {
    font-weight: 600;
    margin-bottom: 8px;
}
.login-box .red-btn {
    margin: 15px 0;
    width: 100%;
    vertical-align: middle;
    padding: 10px 15px;
    font-size: 16px;
}
.login_page .form-footer {
    width: 100%;
    display: inline-block;
}
.login_page .login-box p.not_member {
    float: left;
}
.login_page .login-box p.not_member a {
    color: #343434;
}
.login_page .login-box p.re_pwd {
    float: right;
}
/*sign-up-page*/
.signup_page {
    width: 100%;
    float: left;
    margin-top: 20px;
}
.signup_page .signup_headline .nav-tabs.nav-justified>.active>a, .signup_page .signup_headline .nav-tabs.nav-justified>.active>a:focus, .signup_page .signup_headline .nav-tabs.nav-justified>.active>a:hover, .profile_page .nav-tabs.nav-justified>.active>a, .profile_page .nav-tabs.nav-justified>.active>a:focus, .profile_page .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: 1px solid #eee;
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    font-weight: 600;
}
.signup_page .signup_headline .nav-tabs.nav-justified>li>a, .profile_page .nav-tabs.nav-justified>li>a, .nav-tabs.nav-justified>li>a {
    border: 1px solid rgb(238, 238, 238);
    background-color: #d8d8d8;
    border-radius: 0;
    font-weight: 600;
    color: #343434;
    text-transform: uppercase;
    cursor: default;
}
.profile_page .nav-tabs.nav-justified>li>a, .media_page .nav-tabs.nav-justified>li>a {
    cursor: pointer;
}
.signup_page .signup_headline .nav-tabs.nav-justified>li>a img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.signup_page .signup_form {
    width: 100%;
    float: left;
    margin: 20px 0;
}
.signup_page .signup_form .gray-border-box, .member_search_page .gray-border-box, .home_user_page .gray-border-box {
    background: #fff;
    border: 1px solid #ddd;
    padding: 30px 20px;
    margin: 15px 0;
    display: inline-block;
    width: 100%;
    float: left;
}
.signup_page .signup_form .gray-border-box .form-head, .member_search_page .gray-border-box .form-head {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
}
.signup_page .signup_form .gray-border-box .form-group label, .member_search_page .gray-border-box .form-group label {
    font-weight: normal;
    line-height: 22px;
}
.signup_page .signup_form .gray-border-box .pwd:after {
    font-family: FontAwesome;
    content: "\f06e";
    font-size: 18px;
    color: #888;
    position: absolute;
    right: 22px;
    top: 40px;
}
.signup_page .signup_form .gray-border-box .btn.gray-border-btn {
    width: 100%;
    background: none;
    border: 1px solid #ddd;
    border-radius: 0;
    padding: 8px 0;
    font-size: 16px;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.bootstrap-select .dropdown-toggle {
    border-radius: 0;
    min-height: 40px;
}
.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    background-color: none !important;
    box-shadow: none !important;
}
.select .dropdown-menu > li > a {
    padding: 7px 20px;
    margin-bottom: 5px;
}
.select .dropdown-menu > li > a:focus, .select .dropdown-menu > li.selected > a {
    color: #fff;
    text-decoration: none;
    background-color: #800000;
}
.select .dropdown-menu > li > a:hover{
    color: #000;
    text-decoration: none;
    background-color: #fff;;
}
.bootstrap-select.btn-group .dropdown-menu {
    border-radius: 0;
    padding: 0;
}
.bootstrap-select.btn-group .dropdown-menu.inner{
    max-height: 200px !important;
    overflow-y: scroll !important;

}
.signup_page .gray-btn {
    margin: 0 auto;
    text-align: center;
    display: table;
    float: none;
    color: #000;
    vertical-align: middle;
    font-weight: 600;
    line-height: normal;
    padding: 10px 0;
}
.signup_page .control-group {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}
/*custom radio*/


.custom .radio input[type=radio] {
    display: none;
}
.custom .radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 15px;
}
.custom .radio label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url(../images/radio.png) no-repeat;
    background-size: 18px;
    top: 0px;
}
.custom .radio label:before {
    border-radius: 100px;
}
.custom .radio input[type=radio]:checked + label:before {
    content: "";
    background: url(../images/radio_act.png) no-repeat;
    background-size: 18px;
}
.custom .checkbox input[type=checkbox] {
    display: none;
}
.custom .checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 14px;
}
.custom .checkbox label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url(../images/checkbox.png) no-repeat;
    background-size: 18px;
    top: 1px;
}
.custom .checkbox label:before {
    border-radius: 0px;
}
.custom .checkbox input[type=checkbox]:checked + label:before {
    content: "";
    background: url(../images/checkbox-act.png) no-repeat;
    background-size: 18px;
}
.btn.dark-gray-btn {
    background-color: #6e6e6e;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    min-width: 150px;
    width: auto;
    border: 1px solid rgb(204, 204, 204);
}
.btn.dark-gray-btn:hover, .btn.dark-gray-btn:focus {
    background-color: transparent !important;
    color: #343434;
    border: 1px solid #343434;
}
.signup_page .btn.dark-gray-btn {
    float: right;
}
.signup_page textarea.form-control {
    min-height: 95px;
}
/*afterlogin inner header*/

.inner_header_div {
    width: 100%;
    float: left;
    margin: 40px 0;
}
.inner_header_div .left-div {
    width: 100%;
    float: left;
}
.inner_header_div .left-div a {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 12px 25px;
    text-align: center;
    float: left;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    color: #343434;
    font-size: 16px;
}
.inner_header_div .left-div a:last-child {
    border-right: 1px solid #ddd;
}
.inner_header_div .right-div {
    float: left;
    width: 100%;
    text-align: right;
}
.inner_header_div .right-div a {
    padding: 5px 25px;
    display: inline-block;
    margin: 8px 0;
    border-right: 1px solid #ddd;
    color: #343434;
    text-transform: uppercase;
}
.inner_header_div .right-div a.active, .inner_header_div .left-div a.active {
    color: #800000;
    font-weight: 600;
}
.inner_header_div .right-div a:last-child {
    border-right: none;
}
.border-box {
    border: 1px solid #ddd;
    width: 100%;
    float: left;
    padding: 40px;
    border-radius: 4px;
    background: #fff;
}
.account_page .border-box .email-block {
    padding: 10px 0 30px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    float: left;
    width: 100%;
}
.account_page .border-box .email-block label {
    margin-top: 5px;
}
.account_page .border-box .change_password {
    width: 100%;
    float: left;
}
.account_page .border-box .change_password .form-head {
    font-weight: 600;
    font-size: 18px;
    margin: 30px 0;
}
.account_page .border-box .change_password label {
    font-weight: normal;
}
.account_page .border-box .change_password .red-btn {
    margin: 40px auto 10px;
    text-align: center;
    display: table;
}
.profile_page .personal_info, .profile_page .contact_info, .profile_page .social_info {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.profile_page .img-div {
    display: table;
    height: 200px;
    border-right: 1px solid #ddd;
}
.profile_page .profile_detail {
    display: table;
    padding-left: 5%;
    height: 200px;
}
.profile_page .table-cell {
    display: table-cell;
    height: 200px;
    vertical-align: middle;
}
.profile_page .tab-content .border-box p {
    margin-bottom: 10px;
    word-wrap: break-word;
}
.profile_page .tab-content .img-div img, .profile_page .tab-content .img-div p {
    margin: 10px auto;
    text-align: center;
}
.profile_page .tab-content {
    margin-top: 30px;
    float: left;
    width: 100%;
}
.profile_page .tab-content .tab-pane {
    float: left;
    width: 100%;
}
.btn-div {
    display: inline-block;
    width: 100%;
    float: left;
}
.profile_page .gray-border-btn {
    margin: 15px auto;
    display: table;
}
.profile_page table .radio {
    text-align: center;
}
.profile_page table tr td, .profile_page table tr th {
    vertical-align: middle;
    padding: 5px 15px;
}
.profile_page table tr th {
    text-transform: uppercase;
    font-weight: 600;
}
.profile_page .border-box {
    padding: 0;
    margin-bottom: 20px;
}
.profile_page .form-head {
    padding: 20px 15px;
    font-size: 18px;
    font-weight: 600;
}
.profile_page .achievement_info ul {
    list-style: disc;
    padding: 15px 30px;
}
.profile_page .achievement_info ul li {
    margin-bottom: 15px;
    line-height: 25px;
}
.membership_page .member_section .member_updates {
    padding-right: 0;
    border-right: none;
}
.member_search_page .btns {
    text-align: right;
    margin-top: 15px;
}
.member_search_page .btn.dark-gray-btn {
    padding: 10px 15px;
    text-transform: none;
    font-weight: 600;
    font-size: 16px;
}
.member_search_page .btn.gray-border-btn {
    color: #343434;
}
.member_search_page .member_btns {
    float: right;
    text-align: right;
}
.member_search_page .search_member_box .member_btns .btn.gray-border-btn {
    font-weight: normal;
}
.member_search_page .search_member_box .member_addr {
    line-height: 22px;
}
.member_search_page .search_member_box .member_no {
    line-height: 25px;
    padding: 5px;
    border-right: 2px solid #ddd;
    width: 35px;
}
.member_search_page .search_member_box .member_no, .member_search_page .search_member_box .member_name {
    display: inline-block;
    vertical-align: middle;
}
.member_search_page .search_member_box .member_name {
    padding-left: 15px;
}
.member_search_page .search_result {
    width: 100%;
    float: left;
}
.member_search_page .search_result .gray-border-box {
    padding: 0;
    margin-bottom: 50px;
}
.member_search_page .search_member_box {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.pagination_div {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
.pagination_div .custom_pagination {
    display: inline-block;
    margin: 0 15px;
}
.pagination_div .custom_pagination li {
    display: inline-block;
}
.pagination_div .custom_pagination li a {
    padding: 0 10px;
    color: #343434;
}
.pagination_div .custom_pagination li.active a {
    color: #d1454f;
}
.pagination_div .back-btn.gray-border-btn, .pagination_div .next-btn.gray-border-btn {
    color: #888;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 2px;
    display: inline-block;
    width: auto;
    min-width: auto;
    vertical-align: middle;
    line-height: 20px;
}
.initiative_page .initiative_block {
    text-align: center;
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 30px;
    height: 350px;
}
.initiative_page .initiative_block img {
    margin: 10px auto;
}
.initiative_page .initiative_block .initiative_name {
    font-weight: 600;
    font-size: 16px;
    padding: 15px 0;
}
.initiative_page .initiative_block .border-bottom {
    border: 1px solid #ddd;
    width: 80px;
    margin: 0 auto 15px;
}
.initiative_page .initiative_block .email-btn {
    margin: 15px 0;
    padding: 10px 15px;
    width: 100%;
    color: #343434;
    display: inline-block;
    border: 1px solid #ddd;
    word-wrap: break-word;
    font-weight: 600;
}
.initiative_page .initiative_block .initiative_desc {
    height: 85px;
}
.initiative_page {
    padding: 40px 0 50px 0;
}
.media_page .media_tab .tab-content .media-img .single-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 76%;
}
.media_page .media_tab .photos_div, .media_page .media_tab .videos_div {
    margin: 30px 0;
}
.media_page .media_tab .tab-content .media-img {
    padding-top: 15px;
    padding-bottom: 15px;
}
.media_page .media_tab .tab-content .gray-border{

    width: 100%;
    float: left;
  
}
.media_page .media_tab .tab-content .videos_div .media-img {
    position: relative;
}
.media_page .media_tab .tab-content .videos_div .media-img .play-btn {
    position: absolute;
    margin: 0 auto;
    top: 34%;
    right: 0;
    left: 0;
}
.media_page .media_tab .tab-content .videos_div .media-img .video-title, .media_page .media_tab .tab-content .photos_div .media-img .category-name {
    border: 2px solid #ddd;
    padding: 15px 10px;
    text-align: center;
    width: 100%;
    float: left;
    word-wrap: break-word;
}
.membership_process_page .bold-title {
    padding: 10px 0;
    width: 100%;
}
.page_head h1.inner_head {
    font-size: 30px;
    margin: 40px 0 !important;
}
.page_head {
    width: 100%;
    float: left;
}
.membership_process_page .membership_process .area_process {
    background-image: url(../images/../images/process_border.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    padding-top: 50px;
    width: 100%;
    float: left;
}
.membership_process_page .membership_process .process_img {
    margin: 0 auto;
}
.membership_process_page .membership_process .process_text {
    margin-top: 80px;
    padding: 0 15px;
}
.membership_process_page .membership_process .process_note {
    margin: 40px 0 0;
    padding: 20px;
    background-color: #dad9e1;
    position: relative;
}
.membership_process_page .membership_process .process-parts .left-img, .membership_process_page .membership_process .process-parts .right-img {
    position: absolute;
    top: 25px;
}
.membership_process_page .membership_process .process-parts .left-img {
    left: 20%;
}
.membership_process_page .membership_process .process-parts .right-img {
    right: 20%;
}
.membership_process_page .membership_process .process1, .membership_process_page .membership_process .process2, .membership_process_page .membership_process .process3 {
    display: inline-block;
}
.membership_process_page .applicant_note {
    width: 100%;
    float: left;
    margin: 40px 0 0;
}
.membership_process_page .applicant_note p {
    line-height: 25px;
}
.membership_process_page .applicant_note .notes {
    padding: 10px 8px 15px;
}
.membership_page .btn_cls .gray-btn {
    margin: 40px auto;
    display: table;
}
.blog_page .blog .blog_img {
    background-repeat: no-repeat;
    padding-top: 50%;
    background-size: cover;
    background-position: center;
}
.blog_page .blog {
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.39);
    /*text-align: center;*/
    margin-bottom: 30px;
}
.blog_page .blog .blog_name {
    font-size: 19px;
    font-weight: 600;
    padding: 10px;
}
.blog_page .blog .blog_date{padding: 10px;}

.blog_page .blog .blog_desc {
    padding: 10px 10px 15px;
    min-height: 170px;
}
.home_user_page .section1, .home_user_page .section2 {
    width: 100%;
    float: left;
}
.home_user_page .page_head h1 {
    margin-bottom: 20px;
}
.home_user_page .page_head {
    margin-top: 20px;
}
.home_user_page .gray-border-box p {
    margin-bottom: 10px;
    line-height: 25px;
}
.home_user_page .section2 .gray-border-box {
    padding: 20px;
}
.home_user_page .section2 .home_member_update .gray-border-box .content-part {
    height: 510px;
    overflow-y: auto;
}
.home_user_page .section2 .gray-border-box p {
    margin-bottom: 8px;
}
.home_user_page .section3 .bottom_slider {
    background: transparent;
}
.home_user_page .section3 .head h1 {
    color: #800000;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-size: 36px;
}
/*home user page vertical slider */

.home_user_page .btn-vertical-slider {
    cursor: pointer;
    float: right;
}
.home_user_page .carousel.vertical .carousel-inner .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}
.home_user_page .carousel.vertical .active {
    top: 0;
}
.home_user_page .carousel.vertical .next {
    top: 100%;
}
.home_user_page .carousel.vertical .prev {
    top: -100%;
}
.home_user_page .carousel.vertical .next.left, .home_user_page .carousel.vertical .prev.right {
    top: 0;
}
.home_user_page .carousel.vertical .active.left {
    top: -100%;
}
.home_user_page .carousel.vertical .active.right {
    top: 100%;
}
.home_user_page .carousel.vertical .item {
    left: 0;
}
.home_user_page .btn-vertical-slider {
    position: absolute;
    right: 0;
    z-index: 9;
}
.home_user_page .btn-vertical-slider.glyphicon-circle-arrow-up {
    font-size: 0;
    background: url(../images/vertical-arrow-up.png) no-repeat center;
    background-size: 35px;
    height: 35px;
    width: 35px;
    top: 10px;
}
.home_user_page .btn-vertical-slider.glyphicon-circle-arrow-down {
    font-size: 0;
    background: url(../images/vertical-arrow-down.png) no-repeat center;
    background-size: 35px;
    height: 35px;
    width: 35px;
    bottom: 10px;
    top: auto;
}
.home_user_page .section2 .member_row .title {
    color: #343434;
    font-size: 20px;
    font-weight: 600;
}
.home_user_page .section2 .new_member_row {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    min-height: 95px;
    margin-top: 12px;
}
.home_user_page .section2 .new_member_row:last-child {
    border-bottom: medium none;
}
.why_join_page .gradient_overlay {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
}
.why_join_page .gradient_overlay.blue_gradient {
    background-image: -moz-linear-gradient( 90deg, rgb(37,122,201) 0%, rgba(217,234,250,0.58039) 90%, rgb(237,247,255) 150%);
    background-image: -webkit-linear-gradient( 90deg, rgb(37,122,201) 0%, rgba(217,234,250,0.58039) 90%, rgb(237,247,255) 150%);
    background-image: -ms-linear-gradient( 90deg, rgb(37,122,201) 0%, rgba(217,234,250,0.58039) 90%, rgb(237,247,255) 150%);
}
.why_join_page .gradient_overlay.pink_gradient {
    background-image: -moz-linear-gradient( 90deg, rgb(149,37,201) 0%, rgba(228,226,250,0.58039) 90%, rgb(237,247,255) 150%);
    background-image: -webkit-linear-gradient( 90deg, rgb(149,37,201) 0%, rgba(228,226,250,0.58039) 90%, rgb(237,247,255) 150%);
    background-image: -ms-linear-gradient( 90deg, rgb(149,37,201) 0%, rgba(228,226,250,0.58039) 90%, rgb(237,247,255) 150%);
}
.why_join_page .gradient_overlay.green_gradient {
    background-image: -moz-linear-gradient( 90deg, rgb(37,201,45) 0%, rgba(217,242,234,0.58039) 90%, rgb(237,247,255) 150%);
    background-image: -webkit-linear-gradient( 90deg, rgb(37,201,45) 0%, rgba(217,242,234,0.58039) 90%, rgb(237,247,255) 150%);
    background-image: -ms-linear-gradient( 90deg, rgb(37,201,45) 0%, rgba(217,242,234,0.58039) 90%, rgb(237,247,255) 150%);
}
.why_join_page .gradient_overlay.yellow_gradient {
    background-image: -moz-linear-gradient( 90deg, rgb(201,149,37) 0%, rgba(233,237,233,0.58039) 90%, rgb(237,247,255) 150%);
    background-image: -webkit-linear-gradient( 90deg, rgb(201,149,37) 0%, rgba(233,237,233,0.58039) 90%, rgb(237,247,255) 150%);
    background-image: -ms-linear-gradient( 90deg, rgb(201,149,37) 0%, rgba(233,237,233,0.58039) 90%, rgb(237,247,255) 150%);
}
.why_join_page .gradient_overlay.brown_gradient {
    background-image: -moz-linear-gradient( 90deg, rgb(201,103,37) 0%, rgba(233,233,233,0.58039) 90%, rgb(237,247,255) 150%);
    background-image: -webkit-linear-gradient( 90deg, rgb(201,103,37) 0%, rgba(233,233,233,0.58039) 90%, rgb(237,247,255) 150%);
    background-image: -ms-linear-gradient( 90deg, rgb(201,103,37) 0%, rgba(233,233,233,0.58039) 90%, rgb(237,247,255) 150%);
}
.why_join_page .gradient_overlay.sky_gradient {
    background-image: -moz-linear-gradient( 90deg, rgb(37,184,201) 0%, rgba(217,241,250,0.58039) 90%, rgb(237,247,255) 150%);
    background-image: -webkit-linear-gradient( 90deg, rgb(37,184,201) 0%, rgba(217,241,250,0.58039) 90%, rgb(237,247,255) 150%);
    background-image: -ms-linear-gradient( 90deg, rgb(37,184,201) 0%, rgba(217,241,250,0.58039) 90%, rgb(237,247,255) 150%);
}
.why_join_page .gradient_overlay.black_gradient {
    background-image: -moz-linear-gradient( 90deg, rgb(47,47,47) 0%, rgba(218,227,234,0.58039) 90%, rgb(237,247,255) 150%);
    background-image: -webkit-linear-gradient( 90deg, rgb(47,47,47) 0%, rgba(218,227,234,0.58039) 90%, rgb(237,247,255) 150%);
    background-image: -ms-linear-gradient( 90deg, rgb(47,47,47) 0%, rgba(218,227,234,0.58039) 90%, rgb(237,247,255) 150%);
}
.why_join_page .gradient_img {
    position: relative;
    background-size: cover;
    background-position: center;
    padding-top: 100%;
    background-repeat: no-repeat;
}
.why_join_page .content-box {
    width: 100%;
    float: left;
    margin: 60px 0 30px;
}
.why_join_page .content-box .img_box .join_text {
    position: absolute;
    padding: 15px;
    bottom: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.why_join_page .content-box .gradient_box {
    margin-bottom: 30px;
}

.videos_div .media-img a{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 }

.faq_page .que_ans {
  width: 100%;
    float: left;
}
.faq_page .faq li{
    margin-bottom: 10px;
}
.faq_page .faq li.q {
  border: 1px #ddd solid;
  cursor: pointer;
    position: relative;
}

.faq_page .faq li.a {
  display: none;
  color:#fff;
}
.faq_page .que_ans .img{
    background-image: url(../images/plus.png);
    background-size: auto;
    height: 100%;
    width: 35px;
    background-position: center;
    background-color: gray;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    left: 0;
}
.faq_page .que_ans .q .question{
   display: inline-block;
font-size: 18px;
font-weight: normal;
padding: 15px 15px 15px 50px;
}
.faq_page .que_ans .a .answer{
 padding: 15px 15px 15px 50px;   
}
.faq_page .que_ans .img.rotate {
    background-image: url(../images/minus.png);
    background-size: auto;
    height: 100%;
    width: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #800000;
    position: absolute;
    left: 0;
}
.faq_page .que_ans  .q .img.rotate + .question{
    font-weight: 600;
}
.media_page .photos_div .img-responsive.img-position {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    opacity: 0;
}
    .media_page .photos_div ul {         
          padding:0 0 0 0;
          
      }
    .media_page .photos_div   ul li {     
          list-style:none;          
      }
    .media_page .photos_div   ul li img {
          cursor: pointer;
      }
     .gallery_popup .modal-body {
          padding:5px !important;
      }
      .gallery_popup .modal-content {
          border-radius:0;
      }
      .modal-dialog.gallery_popup img {
          text-align:center;
          margin:0 auto;
          width: 100%;
      }
    .modal-dialog.gallery_popup  .controls{          
        width:50px;
        display:block;
        font-size:11px;
        padding-top:8px;
        font-weight:bold;          
    }
     .modal-dialog.gallery_popup .previous {
       float: left;
    text-align: left;
    background-image: url(../images/left.png);
    background-repeat: no-repeat;
    background-size: 35px;
    height: 35px;
    width: 35px;
    position: absolute;
    left: 12px;
    top: 46%;
    }
.modal-dialog.gallery_popup .next{
       float: right;
    text-align: right;
    background-image: url(../images/right.png);
    background-repeat: no-repeat;
    background-size: 35px;
    height: 35px;
    width: 35px;
    position: absolute;
    right: 12px;
    top: 46%;
}
.media_page .media_tab,.media_page .media_tab .photos_div{
    width: 100%;
    float: left;
}
.media_page .media_tab .videos_div .video-title.video_member{
    font-size: 30px;
    margin: 20px 0 10px;
    font-weight: 500;
    line-height: 35px;
}
.media_page .media_tab .videos_div .video_listing{
    margin: 30px 0;
    width: 100%;
    float: left;
    padding: 30px 0;
    background: #ddd;
}
.media_page .media_tab .videos_div .video_listing .video-title.video_member{
    font-size: 22px;
    margin:0 0 10px;
    font-weight: 500;
    line-height: 26px;
}
.media_page .media_tab .videos_div .video_listing .video_tab{
    margin-bottom: 15px;
}
.blog_page .col-sm-4:nth-of-type(3n+1){clear: left;}
.video_section.video_section_cstm .video_texts img{margin: 0 auto;}
.video_section.video_section_cstm .video_texts{overflow: hidden;}
.video_section.video_section_cstm .video_texts .vd_poster{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
}
.video_section.video_section_cstm .video_texts .video_texts_cstm{
    position: relative;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
}
.video_section.video_section_cstm .video_texts:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.videoWrapper{
    position: relative;
    padding-bottom: 45%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home_user_page .section2 .gray-border-box .gray-border-box_content{position: relative;top:50%;transform: translate(0, -50%);}
.team-member .member-box .arrow{clear: left;display: block;text-align: right;position: absolute;right: 0;bottom: 0;}
.team-container .text_align_class{text-align: center;}
.team-container .text_align_class .team-member{vertical-align: text-top;display: inline-block;text-align: left;float: none;margin-right: -4px;}
.blog_page .blog .blog_name{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.team-member .member-box .post span{width: 100%;}
.text_align_class .pop-up-bg{text-align: left;}
.account_custom .red-btnact2{margin: 28px 10px !important;}
.home_new_member.home_new_member2 .new_member_row{
    -moz-box-orient: vertical;
    -moz-box-pack: center;
    display: -moz-box;
    width: 100%;
    -moz-box-align: start;
    display: box;
    /*display: -webkit-box;*/
    box-orient: vertical;
    -webkit-box-orient: vertical;
    box-align: start;
    -moz-box-align: start;
    -moz-box-pack: center; 
    -webkit-box-pack: center;
    box-pack: center; 
    min-height: 120px;
}

.ol_navbar li {
    display: inline-block;
}
.ol_navbar {
    margin-bottom: 25px;
    text-align: center;
}
.ol_navbar li span{text-decoration: none !important}
.ol_navbar li a span, .ol_navbar li a {
    text-decoration: none;
    color: #800000 !important;
    font-size: 16px !important;
    font-family: 'Montserrat', sans-serif !important;
    padding: 5px 10px;
    line-height: normal;
}
.ol_navbar li a {
    border: 1px solid #800000;
}
.ol_navbar li a:hover {
  background-color: #800000;
  color: #fff !important;
}
/*media*/
      @media screen and (min-width: 768px){
          .modal-dialog.gallery_popup {
              width:650px;
              padding-top: 90px;
          }          
}

@media(min-width:992px) {
/*.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
    display: block;
}*/
.dropdown-menu {
    margin-top: 0;
}
.dropdown-toggle {
    margin-bottom: 2px;
}
.navbar .dropdown-toggle, .nav-tabs .dropdown-toggle {
    margin-bottom: 0;
}
.main-header .navbar ul.dropdown-menu {
    margin-top: 0px;
    left: 0;
    right: auto;
    border: none;
    border-radius: 0;
    padding: 0;
}
}

@media (max-width:1600px) {
}

@media(max-width:1366px) {
.banner_section, .sec_banner {
    background-size: 170px auto;
}
}

@media(max-width:1280px) {
.main-header .navbar {
    padding: 0 15px;
}
.main-header .navbar .navbar-brand img {
    width: 160px;
    height: auto;
}
.main-header .navbar ul {
    margin-top: 35px;
}
.carousel-caption h3 {
    font-size: 28px;
}
.red_section p {
    font-size: 25px;
}
}
@media only screen and (max-width: 1199px) and (min-width: 992px){
    
    .team-member .member-box{min-height: 505px;}
}
@media(max-width:1199px) {
.main-header .navbar {
    min-height: 90px;
}
.inner_wrapper {
    margin-top: 90px;
}
.main-header ul li a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
    padding-left: 6px;
    padding-right: 6px;
}
.main-header .navbar .navbar-brand img {
    width: 140px;
    height: auto;
}
.carousel-caption h3 {
    font-size: 24px;
    line-height: 30px;
}
.red_section p {
    font-size: 22px;
    padding: 25px 10px;
}
.event_page {
    padding: 0;
}
#prev {
    left: 0;
}
#next {
    right: 0;
}
.initiative_page .initiative_block .initiative_desc {
    height: 100px;
}
.membership_process_page .membership_process .area_process {
    padding-top: 15px;
}
.membership_process_page .membership_process .process_text {
    margin-top: 50px;
}
.main-header ul li {
    margin: 0 5px;
}
.page_head h1.inner_head {
    font-size: 24px;
}
.account_custom .red-btnact{min-width: auto;width: 100%;}

}

@media(max-width:991px) {
.account_custom .red-btnact{min-width: auto;width: 150px;}
.account_custom .act_inptbx{margin: 15px 0;}
.account_custom .red-btnact2{margin:15px 0 !important;}
.mobile_logo {
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.3);
    min-height: 65px;
}
.mobile_logo.inner_header {
    background: #343434;
}
.mobile_responsive_menu .wsmenu-click {
    z-index: 99999;
    width: 43px;
}
.inner_wrapper {
    margin-top: 65px;
}
.mobile_logo.menufixed, .mobile_logo.inner_header {
    background: #252525;
}
    .wsmenu > .wsmenu-list > li.active > a:hover{
        background: #800000;
        color: #fff !important;
    }
.mobile_logo img {
    width: 150px;
    height: auto;
}
.main-header .mobile_responsive_menu ul li a.signup {
    border: 1px solid #949494;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    background: #282828;
    width: 100%;
    color: #fff !important;
}
.main-header .mobile_responsive_menu ul li a.login {
    text-align: center;
    width: 100%;
}
.home_slider .carousel-caption {
    top: 33%;
}
.map_section #map {
    width: 100%;
    height: 400px;
}
#prev {
    left: 4px;
}
#next {
    right: 4px;
}
.about_us {
    padding: 0px;
}
.banner_section, .sec_banner {
    background-size: 145px auto;
}
.vision .vision_content {
    padding: 0 15px;
}
.vision .page_head h1 {
    margin: 25px 0;
}
.contact_us, .event_page {
    padding: 0;
}
.event_page .month_list ul li a {
    padding: 5px 5px;
}
.inner_header_div .left-div a {
    padding: 12px 20px;
}
.initiative_page .initiative_block {
    height: 400px;
}
.initiative_page .initiative_block .initiative_desc {
    font-size: 14px;
    height: 110px;
}
.initiative_page .initiative_block .initiative_name {
    height: 70px;
}
.main-header ul li a.login {
    margin: 0;
}
.main-header ul li a:hover, .main-header ul li a:focus, .main-header ul li.active a {
    background-color: none !important;
    border-bottom: 1px solid #e04646;
}
    .main-header ul li.active li a, .main-header ul li li a{
        border-bottom: 1px solid #ddd;
    }
    .main-header ul li.active li.active a{
        border-bottom: 1px solid #e04646;
    }
.main-header ul li a:hover {
    color: #fff !important;
}
.main-header ul li a, .main-header ul li a:focus, .main-header ul li.active a {
    color: #343434 !important;
}
.main-header .mobile_responsive_menu ul li {
    margin: 0px;
}
.main-header ul.wsmenu-submenu li a {
    font-family: 'Montserrat', sans-serif !important;
}
.main-header ul.wsmenu-submenu li a:hover {
    color: #343434 !important;
    border-bottom: 1px solid #e04646;
}
.home_user_page .section3 .head h1, .home_user_page .page_head h1 {
    font-size: 30px;
}
.why_join_page .content-box .img_box .join_text {
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
}
    .media_page .media_tab .videos_div .video-title.video_member{
    font-size:26px;
}
    .media_page .media_tab .videos_div .video_listing .video-title.video_member {
    font-size: 20px;
    line-height: 24px;
}

}

@media (max-width:1023px) {
}

@media (max-width:767px) {
.home_slider .carousel .item {
    height: 320px;
}
.carousel-caption h3 {
    font-size: 22px;
    line-height: 25px;
}
.carousel-caption p {
    color: #fff;
    padding-top: 15px;
    font-size: 14px;
}
.red_section p {
    font-size: 18px;
    padding: 15px 10px;
}
.home_slider .carousel-control .glyphicon-chevron-right, .carousel-control .glyphicon-chevron-left, .home_slider .carousel .carousel-control {
    width: 25px;
    height: 25px;
}
.modal-dialog.video_modal {
    width: 90%;
}
.map_section #map {
    width: 100%;
    height: 300px;
}
.video_section .bg_img {
    background: url(../images/video_img.png) no-repeat left center;
    height: 250px;
    background-size: cover;
}
.bottom_slider .white-box {
    padding: 10px;
}
.bottom_slider .white-box .red-text {
    font-size: 15px;
}
.bottom_slider .white-box p {
    font-size: 13px;
}
.footer footer .first-part {
    text-align: center;
}
.footer footer .first-col, .footer footer .sec-col {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;
}
.footer footer .first-col, .footer footer .sec-col {
    margin-bottom: 20px;
}
.footer footer .third-col {
    padding: 0;
    text-align: center;
}
.footer footer .footer-logo img {
    margin: 0 auto;
}
.member_section .member_updates {
    padding-right: 0;
    border-right: medium none;
}
.member_section .btn_cls {
    /* margin-top: 15px; */
    margin: 25px auto 30px;
    text-align: center;
}
.head h1 {
    font-size: 30px;
    margin-bottom: 35px;
}
.map_header {
    font-size: 30px;
}
.member_month .member_name {
    font-size: 28px;
}
.map_inner_section .west, .map_inner_section .middle, .map_inner_section .east {
    padding: 0 14px;
}
.map_inner_section {
    padding: 20px 0;
}
.map_inner_section h1.number {
    font-size: 26px;
    margin-bottom: 5px;
}
.map_inner_section p {
    font-size: 22px;
    line-height: 30px;
}
.about_us p.content {
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    padding: 0;
}
.banner_section {
    background-image: none;
}
.flip-mobile {
    display: flex;
    flex-direction: column-reverse;
}
.vision .vision_content .table_cell {
    height: auto;
    padding: 30px 0;
}
.vision .vision_content {
    display: inline-block;
    min-height: auto;
    height: auto;
}
.vision .vision_content p.content, .vision .vision_content .content p {
    line-height: 30px;
    text-align: left;
    font-size: 16px;
}
.vision .vision_bg, .vision .objective_bg {
    height: auto;
    padding-top: 50%;
    background-size: contain;
}
.contact_us .text {
    width: 100%;
}
.inner_page_head {
    font-size: 26px;
}
.event_page .list_block .red-box {
    min-height: auto;
}
.event_page .list_block .content_block .new_row p {
    font-size: 16px;
}
.event_page .list_block .content_block .event_name {
    font-size: 26px;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.bootstrap-select .dropdown-toggle {
    border-radius: 0;
    min-height: 40px;
}
.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    background-color: none !important;
    box-shadow: none !important;
}
.month-dropdown .dropdown-menu > li > a {
    padding: 7px 20px;
    margin-bottom: 5px;
}
.select .dropdown-menu > li > a:focus, .select .dropdown-menu > li > a:hover, .select .dropdown-menu > li.selected > a {
    color: #fff;
    text-decoration: none;
    background-color: #800000;
}
.bootstrap-select.btn-group .dropdown-menu {
    border-radius: 0;
    padding: 0;
}
.font36 {
    font-size: 30px;
}
.team-member {
    padding: 15px;
    float: left;
    width: 100%;
}
.team-container #pop-up1.pop-up, .team-container #pop-up4.pop-up {
    top: 25%;
}
.team-container #pop-up2.pop-up, .team-container #pop-up5.pop-up {
    top: 50%;
}
.team-container .close-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    transition: opacity ease-in 3s;
    transition-duration: 3s;
}
.login_page .login-box {
    width: 90%;
    padding: 15px;
    margin: 10px auto;
}
.login_page .login-box p.not_member, .login_page .login-box p.re_pwd {
    float: none;
    text-align: center;
}
.inner_header_div {
    text-align: center;
}
.inner_header_div .left-div, .inner_header_div .right-div {
    width: auto;
    float: none;
    display: inline-block;
    text-align: center;
}
.inner_header_div .right-div {
    margin: 10px auto 0;
}
.account_page .sec_banner {
    padding-top: 20px;
}
.account_page .border-box .email-block label {
    margin-bottom: 10px;
}
.profile_page .img-div {
    border-right: none;
    height: auto;
    margin-bottom: 20px;
    display: inline-block;
    border-bottom: 1px solid #ddd;
}
.profile_page .table-cell, .profile_page .profile_detail {
    height: auto;
}
.profile_page .profile_detail {
    padding-left: 15px;
}
.profile_page .tab-content .border-box p {
    font-size: 14px;
}
.profile_page .border-box {
    padding: 10px;
}
.profile_page .tab-content .border-box .form-head {
    font-size: 16px;
    padding: 20px 0;
}
.profile_page table tr td, .profile_page table tr th {
    font-size: 14px;
}
.profile_page .achievement_info ul {
    padding: 15px;
}
.member_search_page .search_member_box .member_addr {
    line-height: 20px;
    padding-left: 52px;
    font-size: 15px;
    margin: 7px 0;
}
.member_search_page .member_btns {
    float: left;
    text-align: left;
    padding-left: 52px;
    margin-top: 5px;
}
.member_search_page .search_member_box .member_btns .btn.gray-border-btn {
    font-size: 14px;
    padding: 10px 5px;
}
.member_search_page .gray-border-box .note {
    text-align: left;
    margin-bottom: 15px;
}
.initiative_page .initiative_block .initiative_name, .initiative_page .initiative_block .initiative_desc, .initiative_page .initiative_block {
    height: auto;
}
.media_page .media_tab .tab-content .videos_div .media-img .video-title {
    font-size: 14px;
}
.membership_process_page .membership_process .area_process {
    background-image: none;
}
.page_head h1.inner_head {
    font-size: 22px;
    line-height: 26px;
}
.membership_process_page .membership_process .process_text {
    margin: 30px 0;
    text-align: center;
}
.membership_process_page .membership_process .process_note {
    margin: 0 0 30px;
}
.membership_process_page .membership_process .process-parts .left-img, .membership_process_page .membership_process .process-parts .right-img {
    position: absolute;
    top: -10px;
}
.membership_process_page .membership_process .process1, .membership_process_page .membership_process .process2, .membership_process_page .membership_process .process3 {
    width: 100%;
}

.modal::before {
    height: auto;
}


     .modal-dialog.gallery_popup {
             width: 94%;
padding-top: 10%;
margin: 0;
          }    
    .media_page .media_tab .videos_div .video-title.video_member {
    font-size: 20px;
    line-height: 28px;
}
    .media_page .media_tab .videos_div .video_listing .video-title.video_member {
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
}
    .media_page .media_tab .videos_div .video_listing .video_desc{
        font-size: 14px;
        line-height: 20px;
    }
    .team-member .member-box {
    min-height: 380px;
        height: auto;
}
.member_select_bx .col-md-8{padding-top: 15px;clear: left;}
.gray-border-box{height: auto !important;}
.home_user_page .section2 .gray-border-box .gray-border-box_content{position: unset;top:0%;transform: translate(0, 0%);}
.blog_page .blog .blog_name{white-space: normal;text-overflow: unset;overflow: unset;}
}

@media (max-width:480px) {
.home_slider .carousel .item {
    height: 250px;
}
.carousel-caption h3 {
    font-size: 4vw;
    line-height: 5vw;
}
.video_section .center-block img {
    margin: 0 auto;
    width: 40px;
}
.event_page .list_block .content_block .new_row div {
    width: 100%;
}
.signup_page .signup_headline .nav-tabs.nav-justified>li>a {
    font-size: 15px;
}
.inner_header_div .left-div a {
    padding: 10px 8px;
    font-size: 14px;
}
.inner_header_div .right-div a {
    font-size: 14px;
    margin: 0;
}
.font36 {
    font-size: 28px;
    line-height: 35px;
}
.member_search_page .search_member_box .member_btns .btn.gray-border-btn {
    min-width: 94px;
}
.member_search_page .btns .btn.dark-gray-btn, .member_search_page .btns .btn.gray-border-btn {
    width: 100%;
    margin: 5px 0;
}
.media_page .media_tab .tab-content .media-img {
    width: 100%;
}
.why_join_page .content-box .gradient_box {
    width: 100%;
}
    .media_page .media_tab .videos_div .video_listing .video_tab{
        width:100%;
    }
    .signup_page .frm-cntl .col-sm-12 div,
    .signup_page .frm-cntl .col-sm-12 input{float: none !important;width: 100% !important;}
    .signup_page .frm-cntl .col-sm-12 input{margin-top: 10px;}
    .video_section h3{padding: 6px 0;}
}
